# binary
/bin/

# Go
*.test
*.out
coverage.txt

# env / secrets
.env
*.env
/orqestra*yaml


# macOS
.DS_Store

# editor
.vscode/
*.swp
*.swo

# local state
.orqestra/
copilot-data
.tmp-integration-test/
.serena/
.tickets/*
